.container{
    
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 6rem 4rem;
  border: 5px solid rgb(204, 105, 24);
}
header {
    
    padding: 1rem;
    text-align: center;
  }
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }  

#my-form input[type='text'] {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
  #my-form input[type='email'] {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #my-form input[type='tel'] {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #my-form input[type='date'] {
    width: 50%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #my-form input[type='time'] {
    width: 50%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #my-form input[type='submit'] {
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
  .btn {
    display: block;
    width: 100%;
    padding: 15px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
  }
ul {
    list-style: none;
}
  
ul li {
    padding: 5px;
    background: #f4f4f4;
    margin: 5px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
  }
  .bg-dark {
    background: #333;
    color: #fff;
  }
  
  